services:
  postgres:
    image: postgres:16
    container_name: postgres-db
    env_file:
      - .env
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT:-5432}:5437"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
